@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";

.burger {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -2;
    top: 0;
    right: 0;
    background-image: url("../../assets/img/burgerBack.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 120px 16px;

    &__link {
        font-family: "Archivo Black";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: $white;
        cursor: pointer;
    }
}
